@model IEnumerable<Hotel.Models.RoomType>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="p-4 sm:ml-64">
    <div class="pt-8">
        <p class="text-xl font-medium">Hotel Configuration</p>
        <p class="text-gray-400">View all room types</p>
    </div>
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <a asp-action="Add" class="mb-16 font-caladea focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add new</a>


        <div class="flex justify-center items-center text-center">
            @if (Model.Count() == 0)
            {
                <p class="mb-2">You do not have any room types defined!</p>
            }
        </div>
        <div class="flex justify-center items-center text-center">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                #
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Description
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Base price
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Additional price
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Max people
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Beds
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Amenities
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                        }
                        @foreach (RoomType room in Model)
                        {
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    @count
                                </th>
                                <td class="px-6 py-4">
                                    @room.Name
                                </td>
                                <td class="px-6 py-4">
                                    @room.Description
                                </td>
                                <td class="px-6 py-4">
                                    @room.BasePrice
                                </td>
                                <td class="px-6 py-4">
                                    @room.AdditionalPrice
                                </td>
                                <td class="px-6 py-4">
                                    @room.maxPeople()
                                </td>
                                <td class="px-6 py-4">
                                    @foreach (Bed bed in room.Beds)
                                    {
                                        <p>@bed.Name</p>
                                    }
                                </td>
                                <td class="px-6 py-4">
                                    @foreach (Amenity amenity in room.Amenities)
                                    {
                                        <p>@amenity.Name</p>

                                    }
                                </td>

                                <td class="px-6 py-4 text-right">
                                    <a asp-action="Edit" asp-route-id="@room.Id" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>